@model CULCS.Models.AzureGroup
@{
    ViewData["Title"] = "การเชื่อมโยง Group บน Azure";

}
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right">
                    </div>
                    <h4 class="page-title">การเชื่อมโยง Azure Group</h4>
                    <p class="text-muted">
                        Azure Group Mapping
                    </p>
                </div><!--end page-title-box-->
                @if (ViewBag.ReturnCode != null)
                {
                    <div style="position: absolute; top: 10px; right: 0;">
                        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-toggle="toast">
                            <div class="toast-header">
                                <i class="mdi mdi-circle-slice-8 font-18 mr-1 @(ViewBag.ReturnCode  == ReturnCode.Success ? "text-success" : "text-danger")"></i>
                                <strong class="mr-auto">@ViewBag.Message</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div> <!--end toast-->
                    </div>
                }
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" novalidate role="form" asp-action="GroupInfo" asp-controller="System">
        @Html.HiddenFor(m => m.ID)
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-3">
                        @if (Model.ID <= 0)
                        {
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label text-right">ค้นหา Group บน Azure ด้วย Id</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" id="SearchGroup">
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="btn btn-primary " onclick="GetGroup()">ค้นหา</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Azure Group Id</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="AzureGroupId" readonly required>
                                        @Html.ValidationMessageFor(m => m.AzureGroupId)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Azure Group Name</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="AzureGroupName" readonly required>
                                        @Html.ValidationMessageFor(m => m.AzureGroupName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ชื่อกลุ่มที่กำหนดเอง</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="GroupName" required>
                                        @Html.ValidationMessageFor(m => m.GroupName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.ID <= 0)
                        {
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label text-right">ค้นหา Group Temp บน Azure ด้วย Id</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" id="SearchTempGroup">
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="btn btn-primary " onclick="GetTempGroup()">ค้นหา</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Azure Temp Group Id</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="TempAzureGroupId" readonly >
                                        @Html.ValidationMessageFor(m => m.TempAzureGroupId)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Azure Temp Group Name</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="TempAzureGroupName" readonly >
                                        @Html.ValidationMessageFor(m => m.TempAzureGroupName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">สถานะ</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" asp-for="Status" required>
                                            <option value="@Status.Enable">@Status.Enable.toStatusName()</option>
                                            <option value="@Status.Disable">@Status.Disable.toStatusName()</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right"></label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-primary " type="submit">บันทึก</button>
                                        <a href="@Url.Action("Group","System")" class="btn btn-light">กลับ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div> <!-- end row -->
    </form>
</div><!-- container -->
@section scripts{
    <script>
        function GetGroup() {
            var text = $('#SearchGroup').val();
            if (text != '') {
                $('#AzureGroupId').val('');
                $('#AzureGroupName').val('');
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("GetGroup", "System")?Id=' + text,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#AzureGroupId').val(data.groupId);
                            $('#AzureGroupName').val(data.groupname);
                        }
                        else {
                            alert("ไม่พบข้อมูล");
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                        alert("ระบบผิดพลาด");
                    }
                });
            }
        }
         function GetTempGroup() {
             var text = $('#SearchTempGroup').val();
            if (text != '') {
                $('#TempAzureGroupId').val('');
                $('#TempAzureGroupName').val('');
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("GetGroup", "System")?Id=' + text,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#TempAzureGroupId').val(data.groupId);
                            $('#TempAzureGroupName').val(data.groupname);
                        }
                        else {
                            alert("ไม่พบข้อมูล");
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                        alert("ระบบผิดพลาด");
                    }
                });
            }
        }
    </script>
}